<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContractMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_CONTRACT
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		CONTRACTNAME,	
		CONTRACTNUM,	
		CONTRACTPIC,	
		CONTRACTOFNAME,
		FUSEDATESTART,
		FUSEDATEENT,
		PROJECT,
		FDATE,	
		DEPOSIT,	
		STAMPDUTY,	
		STAMPDUTYMONTH,	
		TAXITEMS,	
		MODE,	
		OPERATOR,	
		CONTRACTTYPES,
		ISSTAMPDUTY,
		INVITATIONTICKET,
		CONTRACTCLASSIFY,
		CONTRACT_ID,
		FREMARK,
		CLIENT,
		TELEPHONE,
		DEPTNAME,
		SHOW_TIME,
		ISTICKET,
		RELEVANCE_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{CONTRACTNAME},	
		#{CONTRACTNUM},	
		#{CONTRACTPIC},	
		#{CONTRACTOFNAME},	
		#{FUSEDATESTART},
		#{FUSEDATEENT},
		#{PROJECT},	
		#{FDATE},	
		#{DEPOSIT},	
		#{STAMPDUTY},	
		#{STAMPDUTYMONTH},	
		#{TAXITEMS},	
		#{MODE},	
		#{OPERATOR},	
		#{CONTRACTTYPES},
		#{ISSTAMPDUTY},
		#{INVITATIONTICKET},
		#{CONTRACTCLASSIFY},
		#{CONTRACT_ID},
		#{FREMARK},
		#{CLIENT},
		#{TELEPHONE},
		#{DEPTNAME},
		#{SHOW_TIME},
		#{ISTICKET},
		#{RELEVANCE_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			CONTRACT_ID = #{CONTRACT_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			CONTRACTNAME = #{CONTRACTNAME},
			CONTRACTNUM = #{CONTRACTNUM},
			CONTRACTPIC = #{CONTRACTPIC},
			CONTRACTOFNAME = #{CONTRACTOFNAME},
			FUSEDATESTART = #{FUSEDATESTART},
			FUSEDATEENT = #{FUSEDATEENT},
			PROJECT = #{PROJECT},
			ISSTAMPDUTY = #{ISSTAMPDUTY},
			FDATE = #{FDATE},
			DEPOSIT = #{DEPOSIT},
			STAMPDUTY = #{STAMPDUTY},
			STAMPDUTYMONTH = #{STAMPDUTYMONTH},
			TAXITEMS = #{TAXITEMS},
			MODE = #{MODE},
			OPERATOR = #{OPERATOR},
			CONTRACTTYPES = #{CONTRACTTYPES},
			INVITATIONTICKET = #{INVITATIONTICKET},
			CONTRACTCLASSIFY = #{CONTRACTCLASSIFY},
			FREMARK= #{FREMARK},
		SHOW_TIME= #{SHOW_TIME},
		CLIENT = #{CLIENT},
		TELEPHONE = #{TELEPHONE},
		DEPTNAME = #{DEPTNAME},
		CONTRACT_ID = CONTRACT_ID
		where 
		CONTRACT_ID = #{CONTRACT_ID}
	</update>

	<update id="edit_Jbr" parameterType="pd">
		UPDATE TB_CONTRACT SET OPERATOR = #{NEW_OPERATOR} WHERE CONTRACT_ID IN (
		SELECT CONTRACT_ID FROM TB_CONTRACT WHERE OPERATOR = #{OLD_OPERATOR} )
	</update>

	<update id="editRelevance" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		RELEVANCE_ID = #{CONTRACT_ID_T}
		where
		CONTRACT_ID = #{CONTRACT_ID_F}
	</update>

	<!-- 已取招待票 -->
	<update id="editTicket" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		ISTICKET = '1'
		where
		CONTRACT_ID = #{CONTRACT_ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		SELECT c3.*, c2.CONTRACTNUM AS CONTRACTNUM_T,c2.CONTRACT_ID AS CONTRACT_ID_T ,
		c1.* from TB_CONTRACT c1 LEFT JOIN TB_CONTRACT c2 ON c1.RELEVANCE_ID = c2.CONTRACT_ID
		LEFT JOIN TB_CLIENT c3 ON c1.CLIENT = c3.CLIENT_ID
		where 
			c1.CONTRACT_ID = #{CONTRACT_ID}
	</select>

	<select id="listRelevance" parameterType="String" resultType="pd">
		SELECT * FROM
		<include refid="tableName"></include>
		where
		CONTRACT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="listNotPayTime" parameterType="pd" resultType="pd">
		SELECT * FROM
		<include refid="tableName"></include>
		where
		CONTRACT_ID in
		<foreach item="item" index="index" collection="#{ArrayDATA_IDS}" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="findMaxNo" parameterType="pd" resultType="pd">
		SELECT MAX(CONTRACTNUM) as maxNo from TB_CONTRACT WHERE DEPTNAME = #{DEPTNAME}
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT TOP 10000000 c1.*,d2.* FROM TB_CONTRACT c1
		LEFT JOIN TB_DEPARTMENTGROUP d1 ON c1.OPERATOR = d1.DNAME
		LEFT JOIN TB_DEPARTMENTGROUP d2 ON d1.PID = d2.UID
		where 1=1
		<if test="pd.keywords != null and pd.keywords != ''"><!-- 关键词检索 -->
			and
			CONTRACTCLASSIFY LIKE '%'+ #{pd.keywords}+'%'
		</if>
		<if test="pd.p_treeKey != null and pd.p_treeKey != ''"><!-- 关键词检索 -->
			and
			CONTRACTTYPES LIKE '%'+ #{pd.p_treeKey}+'%'
		</if>
		<if test="pd.YEAR != null and pd.YEAR != ''"><!-- 关键词检索 -->
			and
			FDATE LIKE '%'+ #{pd.YEAR}+'%'
		</if>
		<if test="pd.CONTRACTNUM != null and pd.CONTRACTNUM != ''"><!-- 关键词检索 -->
			and
			CONTRACTNUM LIKE '%'+ #{pd.CONTRACTNUM}+'%' OR CONTRACTNAME LIKE '%'+ #{pd.CONTRACTNUM}+'%'
			OR CONTRACTOFNAME LIKE '%'+ #{pd.CONTRACTNUM}+'%'
		</if>
		<if test="pd.TYPE != null and pd.TYPE != ''"><!-- 关键词检索 -->
			and
			CONTRACTTYPES LIKE '%'+ #{pd.TYPE}+'%'
		</if>
		<if test="pd.DEPTNAME != null and pd.DEPTNAME != ''"><!-- 关键词检索 -->
			and
			DEPTNAME LIKE '%'+ #{pd.DEPTNAME}+'%'
		</if>
		<if test="pd.picStart != null and pd.picStart != ''"><!-- 关键词检索 -->
			and
			CONTRACTPIC <![CDATA[ >= ]]> #{pd.picStart}
		</if>
		<if test="pd.picEnd != null and pd.picEnd != ''"><!-- 关键词检索 -->
			and
			CONTRACTPIC <![CDATA[ <= ]]> #{pd.picEnd}
		</if>
		<!--<if test="pd.picEnd != null and pd.picEnd != ''">&lt;!&ndash; 关键词检索 &ndash;&gt;
			and
			CONTRACTPIC <![CDATA[ <= ]]> #{pd.picEnd}
		</if>-->
		ORDER BY CONTRACTNUM
	</select>

	<select id="isEwlistPage" parameterType="page" resultType="pd">
		SELECT top 100000000 * FROM  TB_CONTRACT WHERE CONTRACT_ID IN (SELECT CONTRACT_ID FROM TB_PROCEEDSCONTRACT WHERE ISEW = '1')
		<if test="pd.CONTRACTNUM != null and pd.CONTRACTNUM != ''"><!-- 关键词检索 -->
			and
			CONTRACTNUM LIKE '%'+ #{pd.CONTRACTNUM}+'%' OR CONTRACTNAME LIKE '%'+ #{pd.CONTRACTNUM}+'%'
			OR CONTRACTOFNAME LIKE '%'+ #{pd.CONTRACTNUM}+'%'
		</if>
		<if test="pd.YEAR != null and pd.YEAR != ''"><!-- 关键词检索 -->
			and
			FDATE LIKE '%'+ #{pd.YEAR}+'%'
		</if>
		<if test="pd.picStart != null and pd.picStart != ''"><!-- 关键词检索 -->
			and
			CONTRACTPIC <![CDATA[ >= ]]> #{pd.picStart}
		</if>
		<if test="pd.picEnd != null and pd.picEnd != ''"><!-- 关键词检索 -->
			and
			CONTRACTPIC <![CDATA[ <= ]]> #{pd.picEnd}
		</if>
		<!--<if test="pd.picEnd != null and pd.picEnd != ''">&lt;!&ndash; 关键词检索 &ndash;&gt;
			and
			CONTRACTPIC <![CDATA[ <= ]]> #{pd.picEnd}
		</if>-->
		ORDER BY CONTRACTNUM
	</select>

	<select id="datalistPageByDept" parameterType="page" resultType="pd">
		select top 1000000000
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where OPERATOR IN
		(SELECT DNAME from TB_DEPARTMENTGROUP WHERE PID =
		( SELECT PID from TB_DEPARTMENTGROUP WHERE DNAME in
		( SELECT NAME  from sys_user WHERE  USERNAME = #{pd.USERNAME}  ) ))
		<if test="pd.keywords != null and pd.keywords != ''"><!-- 关键词检索 -->
			and
			CONTRACTCLASSIFY LIKE '%'+ #{pd.keywords}+'%'
		</if>
		<if test="pd.p_treeKey != null and pd.p_treeKey != ''"><!-- 关键词检索 -->
			and
			CONTRACTTYPES LIKE '%'+ #{pd.p_treeKey}+'%'
		</if>
		<if test="pd.YEAR != null and pd.YEAR != ''"><!-- 关键词检索 -->
			and
			FDATE LIKE '%'+ #{pd.YEAR}+'%'
		</if>
		<if test="pd.CONTRACTNUM != null and pd.CONTRACTNUM != ''"><!-- 关键词检索 -->
			and
			CONTRACTNUM LIKE '%'+ #{pd.CONTRACTNUM}+'%'
		</if>
		<if test="pd.DEPTNAME != null and pd.DEPTNAME != ''"><!-- 关键词检索 -->
			and
			DEPTNAME LIKE '%'+ #{pd.DEPTNAME}+'%'
		</if>
		<if test="pd.picStart != null and pd.picStart != ''"><!-- 关键词检索 -->
			and
			CONTRACTPIC <![CDATA[ >= ]]> #{pd.picStart}
		</if>
		<if test="pd.picEnd != null and pd.picEnd != ''"><!-- 关键词检索 -->
			and
			CONTRACTPIC <![CDATA[ <= ]]> #{pd.picEnd}
		</if>
		<!--<if test="pd.picEnd != null and pd.picEnd != ''">&lt;!&ndash; 关键词检索 &ndash;&gt;
			and
			CONTRACTPIC <![CDATA[ <= ]]> #{pd.picEnd}
		</if>-->
		ORDER BY CONTRACTNUM
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		WHERE 1 = 1
		<if test="keywords != null and keywords != ''"><!-- 关键词检索 -->
			and
			CONTRACTCLASSIFY LIKE '%'+ #{keywords}+'%'
		</if>
		<if test="p_treeKey != null and p_treeKey != ''"><!-- 关键词检索 -->
			and
			CONTRACTTYPES LIKE '%'+ #{p_treeKey}+'%'
		</if>
		<if test="YEAR != null and YEAR != ''"><!-- 关键词检索 -->
			and
			FDATE LIKE '%'+ #{YEAR}+'%'
		</if>
		<if test="CONTRACTNUM != null and CONTRACTNUM != ''"><!-- 关键词检索 -->
			and
			CONTRACTNUM LIKE '%'+ #{CONTRACTNUM}+'%' OR CONTRACTNAME LIKE '%'+ #{CONTRACTNUM}+'%'
			OR CONTRACTOFNAME LIKE '%'+ #{CONTRACTNUM}+'%'
		</if>
		<if test="TYPE != null and TYPE != ''"><!-- 关键词检索 -->
			and
			CONTRACTTYPES LIKE '%'+ #{TYPE}+'%'
		</if>
		<if test="DEPTNAME != null and DEPTNAME != ''"><!-- 关键词检索 -->
			and
			DEPTNAME LIKE '%'+ #{DEPTNAME}+'%'
		</if>
		<if test="picStart != null and picStart != ''"><!-- 关键词检索 -->
			and
			CONTRACTPIC <![CDATA[ >= ]]> #{picStart}
		</if>
		<if test="picEnd != null and picEnd != ''"><!-- 关键词检索 -->
			and
			CONTRACTPIC <![CDATA[ <= ]]> #{picEnd}
		</if>
		ORDER BY CONTRACTNUM
	</select>

	<!-- 获取现有签约的公司 -->
	<select id="listConToName" parameterType="pd" resultType="pd">
		SELECT DISTINCT CONTRACTOFNAME FROM TB_CONTRACT  WHERE CONTRACT_ID IN
		 (SELECT DISTINCT CONTRACT_ID FROM TB_UTILITIESSTATE WHERE  cast(NOT_RECEIVABLE as  DECIMAL(18,2)) > 0
		union
		SELECT DISTINCT CONTRACT_ID FROM TB_INVOICE WHERE  cast(NOT_RECEIVABLE as  DECIMAL(18,2)) > 0
		union
		SELECT DISTINCT CONTRACT_ID FROM TB_DEPOSITINFO WHERE  cast(NOT_RECEIVABLE as  DECIMAL(18,2)) > 0)
	</select>

	<!-- 获取未付清应付款的公司 -->
	<select id="listnotPay" parameterType="pd" resultType="pd">
		SELECT DISTINCT CONTRACTOFNAME FROM TB_CONTRACT WHERE CONTRACT_ID IN (
		SELECT DISTINCT CONTRACT_ID FROM TB_PAYDETAIL where
		cast(REALITYPAY as  DECIMAL(18,2)) <![CDATA[<]]>  cast(SHPAY as  DECIMAL(18,2)) )
	</select>

	<!-- 通过付款方获取未付清应付款项 -->
	<select id="listnotPayByName" parameterType="pd" resultType="pd">
		SELECT * FROM TB_PAYDETAIL WHERE CONTRACT_ID IN (
		SELECT CONTRACT_ID FROM TB_CONTRACT WHERE CONTRACTOFNAME = #{CONTRACTOFNAME})
		AND cast(REALITYPAY as  DECIMAL(18,2)) <![CDATA[<]]> cast(SHPAY as  DECIMAL(18,2))  ORDER BY NUM
	</select>

	<!-- 未付款发票项 -->
	<select id="listNotInvoice" parameterType="pd" resultType="pd">
		SELECT * FROM TB_INVOICE i
		 LEFT JOIN TB_CONTRACT c ON i.CONTRACT_ID = c.CONTRACT_ID
		 WHERE  cast(i.NOT_RECEIVABLE as  DECIMAL(18,2)) > 0 AND i.CONTRACT_ID IN
		(SELECT  CONTRACT_ID FROM TB_CONTRACT WHERE CONTRACTOFNAME = #{CONTRACTOFNAME})
		ORDER BY NUM
	</select>
	<!-- 未付款水电项 -->
	<select id="listNotUtili" parameterType="pd" resultType="pd">
		SELECT * FROM TB_UTILITIESSTATE WHERE  cast(NOT_RECEIVABLE as  DECIMAL(18,2)) > 0 AND CONTRACT_ID IN
		(SELECT  CONTRACT_ID FROM TB_CONTRACT WHERE CONTRACTOFNAME = #{CONTRACTOFNAME})
		ORDER BY NUM
	</select>

	<!-- 未付款押金项 -->
	<select id="listNotDeposit" parameterType="pd" resultType="pd">
		SELECT * FROM TB_DEPOSITINFO WHERE  cast(NOT_RECEIVABLE as  DECIMAL(18,2)) > 0 AND CONTRACT_ID IN
		(SELECT  CONTRACT_ID FROM TB_CONTRACT WHERE CONTRACTOFNAME = #{CONTRACTOFNAME})
		ORDER BY NUM
	</select>


	<!-- 到期提示未收款合同 -->
	<select id="listTimeToContract" parameterType="pd" resultType="pd">
		SELECT * FROM TB_CONTRACT WHERE CONTRACT_ID IN (
		SELECT DISTINCT CONTRACT_ID  FROM TB_INVOICE WHERE  cast(NOT_RECEIVABLE as  DECIMAL(18,2)) > 0
		AND DATEDIFF(dd,#{TODAY},PAYTIME) <![CDATA[<=]]> 5   AND CONTRACT_ID IN
		(SELECT  CONTRACT_ID FROM TB_CONTRACT WHERE OPERATOR = #{OPERATOR})
		UNION
		SELECT DISTINCT CONTRACT_ID FROM TB_UTILITIESSTATE WHERE  cast(NOT_RECEIVABLE as  DECIMAL(18,2)) > 0
		AND DATEDIFF(dd,#{TODAY},PAYTIME) <![CDATA[<=]]> 5   AND CONTRACT_ID IN
		(SELECT  CONTRACT_ID FROM TB_CONTRACT WHERE OPERATOR = #{OPERATOR})
		UNION
		SELECT DISTINCT CONTRACT_ID FROM TB_DEPOSITINFO WHERE  cast(NOT_RECEIVABLE as  DECIMAL(18,2)) > 0
		AND DATEDIFF(dd,#{TODAY},DWDEPOSITTIME) <![CDATA[<=]]>5   AND CONTRACT_ID IN
		(SELECT  CONTRACT_ID FROM TB_CONTRACT WHERE OPERATOR = #{OPERATOR}))
	</select>

	<!-- 招待票提醒 -->
	<select id="listTimeTicket" parameterType="pd" resultType="pd">
		SELECT * FROM TB_CONTRACT WHERE CONTRACTCLASSIFY = '大型体育赛事场地租赁'
		OR CONTRACTCLASSIFY = '文艺演出场地租赁' AND DATEDIFF(dd,#{TODAY},SHOW_TIME) <![CDATA[<=]]> 3
		AND OPERATOR = #{OPERATOR} AND  ISTICKET = '0'
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			CONTRACT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>