<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FileMeansMapper">

    <!--表名 -->
    <sql id="tableName">
		TB_FILEMEANS
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		FILENAME,	
		FILE_URL,	
		FILE_CREATETIME,	
		FILE_JURISDICTION,	
		FILE_TYPE,	
		FILE_CREATEUSER,	
		FILE_DOWNLOAD,	
		FILE_READ,
		FILE_CATALOGURL,
		FILE_REMARK,
		FILE_CATALOGURL_ID,
		FILE_READUSERS,
		FILE_PASSWORD,
		FILE_ISENCTYPT,
		FILE_ISPRIVATE,
		FILE_ISDOWN,
		FILEMEANS_ID
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{FILENAME},	
		#{FILE_URL},
		#{FILE_CREATETIME},
		#{FILE_JURISDICTION},
		#{FILE_TYPE},
		#{FILE_CREATEUSER},
		#{FILE_DOWNLOAD},
		#{FILE_READ},
		#{FILE_CATALOGURL},
		#{FILE_REMARK},
		#{FILE_CATALOGURL_ID},
		#{FILE_READUSERS},
		#{FILE_PASSWORD},
		#{FILE_ISENCTYPT},
		#{FILE_ISPRIVATE},
		#{FILE_ISDOWN},
		#{FILEMEANS_ID}
	</sql>

    <!-- 新增-->
    <insert id="save" parameterType="pd">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="pd">
        delete from
        <include refid="tableName"></include>
        where
        FILEMEANS_ID = #{FILEMEANS_ID}
    </delete>

    <delete id="deleteByUrl" parameterType="pd">
        delete from
        <include refid="tableName"></include>
        where
        FILE_URL = #{FILE_URL}
    </delete>

    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        FILENAME = #{FILENAME},
        FILE_URL = #{FILE_URL},
        FILE_CATALOGURL = #{FILE_CATALOGURL},
        FILE_CATALOGURL_ID = #{FILE_CATALOGURL_ID},
        FILE_CREATETIME = #{FILE_CREATETIME},
        FILE_JURISDICTION = #{FILE_JURISDICTION},
        FILE_TYPE = #{FILE_TYPE},
        FILE_CREATEUSER = #{FILE_CREATEUSER},
        FILE_DOWNLOAD = #{FILE_DOWNLOAD},
        FILE_READ = #{FILE_READ},
        FILE_REMARK = #{FILE_REMARK},
        FILEMEANS_ID = FILEMEANS_ID
        where
        FILEMEANS_ID = #{FILEMEANS_ID}
    </update>
<!--修改权限用户，修改密码-->
    <update id="editJurisdiction" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        FILE_ISDOWN = #{FILE_ISDOWN},
        FILE_ISENCTYPT = #{FILE_ISENCTYPT},
        FILE_READUSERS = #{FILE_READUSERS},
        FILE_PASSWORD = #{FILE_PASSWORD}
        where
        FILEMEANS_ID = #{FILEMEANS_ID}
    </update>

    <update id="resetPassWord" parameterType="pd">
        update
        TB_FILEMEANS
        set
        FILE_PASSWORD = '123'
        where
        FILEMEANS_ID = #{FILEMEANS_ID}
    </update>

    <!--修改密码后，把已经解锁的用户删除-->
    <update id="deletePassUser" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        FILE_PASSUSER = null
        where
        FILEMEANS_ID = #{FILEMEANS_ID}
    </update>

    <update id="editName" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        FILENAME = #{FILENAME},
        FILE_URL = #{newUrl}
        where
        FILE_URL = #{FILE_URL}
    </update>

        <!-- 密码认证后，修改可以查阅的人 -->
    <update id="editPassUser" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        FILE_PASSUSER = #{FILE_PASSUSER}
        where
        FILEMEANS_ID = #{FILEMEANS_ID}
    </update>

    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        FILEMEANS_ID = #{FILEMEANS_ID}
    </select>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultType="pd">
        SELECT u.NAME AS USERNAME, f.* FROM TB_FILEMEANS f
        LEFT JOIN sys_user u ON f.FILE_CREATEUSER = u.USERNAME
        where 1=1
        <if test="pd.FILE_CREATEUSER != null and pd.FILE_CREATEUSER != ''"><!-- 关键词检索 -->
            and
            f.FILE_CREATEUSER IN
            (SELECT USERNAME FROM sys_user WHERE NAME LIKE '%'+ #{pd.FILE_CREATEUSER} +'%')
        </if>
        <if test="pd.keywords != null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            f.FILENAME LIKE '%'+ #{pd.keywords} +'%'
        </if>
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
    </select>

    <!-- 查阅没有加密，有权访问，已验证的文件 -->
    <select id="listByFILE_CATALOGURL_ID_NotENCTYPT" parameterType="pd" resultType="pd">
        SELECT * FROM TB_FILEMEANS WHERE FILEMEANS_ID IN(
        SELECT FILEMEANS_ID FROM TB_FILEMEANS WHERE FILE_CREATEUSER <![CDATA[<> ]]> #{USERNAME}
        AND FILE_ISENCTYPT = 0 AND FILE_READUSERS = 'ALL(所有人可见)'
        UNION ALL
        SELECT FILEMEANS_ID FROM TB_FILEMEANS WHERE FILE_CREATEUSER <![CDATA[<> ]]> #{USERNAME}
        AND FILE_ISENCTYPT = 0 AND FILE_READUSERS LIKE '%'+ #{FILE_READUSERS} +'%')
        <!-- UNION ALL
        SELECT FILEMEANS_ID FROM TB_FILEMEANS WHERE FILE_CREATEUSER <![CDATA[<> ]]> #{USERNAME}
        AND FILE_ISENCTYPT = 1 AND FILE_PASSUSER LIKE '%'+ #{FILE_READUSERS} +'%')
        AND FILE_CATALOGURL_ID = #{FILE_CATALOGURL_ID} -->
        <if test="keywords != null and keywords != ''"><!-- 关键词检索 -->
            and
            FILENAME LIKE '%' + #{keywords} + '%'
        </if>
        AND FILE_CATALOGURL_ID = #{FILE_CATALOGURL_ID}
        ORDER BY FILE_TYPE desc, FILENAME asc
    </select>

    <!-- 自己上传的加密文件 -->
    <select id="listEnctyptByYourself" parameterType="pd" resultType="pd">
        SELECT * FROM TB_FILEMEANS WHERE FILE_CREATEUSER = #{USERNAME} AND FILE_CATALOGURL_ID = #{FILE_CATALOGURL_ID}
        <if test="keywords != null and keywords != ''"><!-- 关键词检索 -->
            and
            FILENAME LIKE '%' + #{keywords} + '%'
        </if>
        AND FILE_ISENCTYPT = 1
        ORDER BY FILE_TYPE desc, FILENAME asc
    </select>

    <!-- 自己上传的不加密文件 -->
    <select id="listNot_EnctyptByYourself" parameterType="pd" resultType="pd">
        SELECT * FROM TB_FILEMEANS WHERE FILE_CREATEUSER = #{USERNAME} AND FILE_CATALOGURL_ID = #{FILE_CATALOGURL_ID}
        <if test="keywords != null and keywords != ''"><!-- 关键词检索 -->
            and
            FILENAME LIKE '%' + #{keywords} + '%'
        </if>
        AND FILE_ISENCTYPT = 0
        ORDER BY FILE_TYPE desc, FILENAME asc
    </select>

    <select id="listByFILE_CATALOGURL_ID_ENCTYPT" parameterType="pd" resultType="pd">
        <!--SELECT * FROM TB_FILEMEANS WHERE FILEMEANS_ID IN
        (select FILEMEANS_ID FROM TB_FILEMEANS WHERE FILE_READUSERS  LIKE '%ALL(所有人可见)%'
        OR FILE_READUSERS LIKE '%'+ #{FILE_READUSERS} +'%')
        AND FILEMEANS_ID NOT IN(
        SELECT FILEMEANS_ID FROM TB_FILEMEANS WHERE
        FILE_PASSUSER LIKE '%'+ #{FILE_READUSERS} +'%') AND FILE_CREATEUSER <![CDATA[<> ]]> #{USERNAME}
        AND FILE_ISENCTYPT = 1 AND FILE_CATALOGURL_ID = #{FILE_CATALOGURL_ID}
        <if test="keywords != null and keywords != ''">
            and
            FILENAME LIKE '%' + #{keywords} + '%'
        </if>
        ORDER BY FILE_TYPE desc, FILENAME asc -->
        SELECT * FROM TB_FILEMEANS WHERE FILEMEANS_ID IN
        (select FILEMEANS_ID FROM TB_FILEMEANS WHERE FILE_READUSERS  LIKE '%ALL(所有人可见)%' AND FILE_CREATEUSER <![CDATA[<> ]]> #{USERNAME}
        OR FILE_READUSERS LIKE '%'+ #{FILE_READUSERS} +'%')
        AND FILE_ISENCTYPT = 1 AND FILE_CATALOGURL_ID = #{FILE_CATALOGURL_ID}
        <if test="keywords != null and keywords != ''">
            and
            FILENAME LIKE '%' + #{keywords} + '%'
        </if>
        ORDER BY FILE_TYPE desc, FILENAME asc
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where
        FILEMEANS_ID in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- fh313596790qq(青苔) -->
</mapper>