<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Proceeds_recordMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_PROCEEDS_RECORD
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TYPE,	
		CONTRACT_ID,
		ITEMID,	
		RECEIVABLE,	
		OVERDUE,	
		OVERDUENUM,	
		RECEIVABLE_N,	
		NOT_RECEIVABLE,	
		RECEIVABL_PAYTIME,	
		RECEIVABL_EMPL,	
		MODE,	
		PAYER,
		SETIME,
		PAYTIME,
		AMOUNT,
		PROCEEDSRECEIPTS_ID,
		PROCEEDS_RECORD_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TYPE},	
		#{CONTRACT_ID},
		#{ITEMID},	
		#{RECEIVABLE},	
		#{OVERDUE},	
		#{OVERDUENUM},	
		#{RECEIVABLE_N},	
		#{NOT_RECEIVABLE},	
		#{RECEIVABL_PAYTIME},	
		#{RECEIVABL_EMPL},	
		#{MODE},	
		#{PAYER},
		#{SETIME},
		#{PAYTIME},
		#{AMOUNT},
		#{PROCEEDSRECEIPTS_ID},
		#{PROCEEDS_RECORD_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PROCEEDS_RECORD_ID = #{PROCEEDS_RECORD_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			TYPE = #{TYPE},
		CONTRACT_ID = #{CONTRACT_ID},
			ITEMID = #{ITEMID},
			RECEIVABLE = #{RECEIVABLE},
			OVERDUE = #{OVERDUE},
			OVERDUENUM = #{OVERDUENUM},
			RECEIVABLE_N = #{RECEIVABLE_N},
			NOT_RECEIVABLE = #{NOT_RECEIVABLE},
			RECEIVABL_PAYTIME = #{RECEIVABL_PAYTIME},
			RECEIVABL_EMPL = #{RECEIVABL_EMPL},
			MODE = #{MODE},
			PAYER = #{PAYER},
		PROCEEDS_RECORD_ID = PROCEEDS_RECORD_ID
		where 
		PROCEEDS_RECORD_ID = #{PROCEEDS_RECORD_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PROCEEDS_RECORD_ID = #{PROCEEDS_RECORD_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT top 10000000000 u.NAME AS UNAME, c.CONTRACTNUM, re.* FROM TB_PROCEEDS_RECORD re
		LEFT JOIN TB_CONTRACT c ON re.CONTRACT_ID = c.CONTRACT_ID
		LEFT JOIN sys_user u ON re.RECEIVABL_EMPL = u.USERNAME
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
			re.PAYER LIKE '%'+ #{pd.keywords}+'%'
		</if>
		ORDER BY NUM
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>

	<!-- 根据单据id去查询相应的记录 -->
	<select id="listByProReceiptsID" parameterType="pd" resultType="pd">
		SELECT c.CONTRACTCLASSIFY, u.NAME AS UNAME, c.CONTRACTNUM, re.* FROM TB_PROCEEDS_RECORD re
		LEFT JOIN TB_CONTRACT c ON re.CONTRACT_ID = c.CONTRACT_ID
		LEFT JOIN sys_user u ON re.RECEIVABL_EMPL = u.USERNAME
		WHERE re.PROCEEDSRECEIPTS_ID = #{PROCEEDSRECEIPTS_ID} ORDER BY NUM
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PROCEEDS_RECORD_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>