<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProceedsReceiptsMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_PROCEEDSRECEIPTS
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		PROCEEDSDATE,	
		PROCEEDSNUM,	
		OVERDUENUM,	
		RECEIVABLE_REALITY,	
		NOT_RECEIVABLE,	
		PAYER,	
		PROCEEDSER,	
		ISPRINTLN,	
		PRINTLNDATE,
		PROCEEDSNO,
		PROCEEDSRECEIPTS_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{PROCEEDSDATE},	
		#{PROCEEDSNUM},	
		#{OVERDUENUM},	
		#{RECEIVABLE_REALITY},	
		#{NOT_RECEIVABLE},	
		#{PAYER},	
		#{PROCEEDSER},	
		#{ISPRINTLN},	
		#{PRINTLNDATE},
		#{PROCEEDSNO},
		#{PROCEEDSRECEIPTS_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PROCEEDSRECEIPTS_ID = #{PROCEEDSRECEIPTS_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			PROCEEDSDATE = #{PROCEEDSDATE},
			PROCEEDSNUM = #{PROCEEDSNUM},
			OVERDUENUM = #{OVERDUENUM},
			RECEIVABLE_REALITY = #{RECEIVABLE_REALITY},
			NOT_RECEIVABLE = #{NOT_RECEIVABLE},
			PAYER = #{PAYER},
			PROCEEDSER = #{PROCEEDSER},
			ISPRINTLN = #{ISPRINTLN},
			PRINTLNDATE = #{PRINTLNDATE},
		PROCEEDSRECEIPTS_ID = PROCEEDSRECEIPTS_ID
		where 
		PROCEEDSRECEIPTS_ID = #{PROCEEDSRECEIPTS_ID}
	</update>

	<update id="editPrintln" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		ISPRINTLN = #{ISPRINTLN},
		PRINTLNDATE = #{PRINTLNDATE}
		where
		PROCEEDSRECEIPTS_ID = #{PROCEEDSRECEIPTS_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		SELECT * FROM TB_PROCEEDSRECEIPTS p
		LEFT JOIN sys_user u ON p.PROCEEDSER = u.USERNAME
		where 
			p.PROCEEDSRECEIPTS_ID = #{PROCEEDSRECEIPTS_ID}
	</select>

	<select id="findMaxNo" parameterType="pd" resultType="pd">
		SELECT MAX(PROCEEDSNO) AS MAXNO FROM TB_PROCEEDSRECEIPTS
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT top 1000000000000 * FROM TB_PROCEEDSRECEIPTS p
		LEFT JOIN sys_user u ON p.PROCEEDSER = u.USERNAME
		where 1=1
		<if test="pd.keywords != null and pd.keywords != ''"><!-- 关键词检索 -->
			and
			p.PAYER LIKE '%'+ #{pd.keywords} + '%' or p.PROCEEDSER LIKE '%'+ #{pd.keywords} + '%'
		</if>
		<if test="pd.lastEnd != null and pd.lastEnd != ''"><!-- 关键词检索 -->
			and
			p.PROCEEDSDATE <![CDATA[ <= ]]> #{pd.lastEnd}
		</if>
		<if test="pd.lastStart != null and pd.lastStart != ''"><!-- 关键词检索 -->
			and
			p.PROCEEDSDATE <![CDATA[ >= ]]> #{pd.lastStart}
		</if>
		<if test="pd.picStart != null and pd.picStart != ''"><!-- 关键词检索 -->
			and
			p.PROCEEDSNUM <![CDATA[ >= ]]> #{pd.picStart}
		</if>
		<if test="pd.picEnd != null and pd.picEnd != ''"><!-- 关键词检索 -->
			and
			p.PROCEEDSNUM <![CDATA[ <= ]]> #{pd.picEnd}
		</if>
		ORDER BY NUM DESC
	</select>

	<select id="listTop2" parameterType="page" resultType="pd">
		SELECT TOP 2 * FROM TB_PROCEEDSRECEIPTS WHERE PAYER = #{CONTRACTOFNAME} ORDER BY NUM DESC
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PROCEEDSRECEIPTS_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>