<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UtilitiesStateMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_UTILITIESSTATE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		PAYERNAME,	
		PAYTIME,	
		RECEIVABLE,	
		OVERDUE,	
		RECEIVABL_PAYTIME,	
		RECEIVABLE_REALITY,	
		LASTMONTH_SUM_E,	
		THISMONTH_SUM_E,	
		NUMBER_SUM_E,	
		TOTAL_SUM_E,	
		REALITY_TOTAL_SUM_E,	
		LASTMONTH_SUM_W,	
		THISMONTH_SUM_W,	
		NUMBER_SUM_W,	
		TOTAL_SUM_W,	
		REALITY_TOTAL_SUM_W,	
		OVERDUENUM,	
		CONTRACT_ID,	
		PROCEEDSTIME_ID,	
		INVOICE_ID,
		STARTTIME,
		ENDTIME,
		NOT_RECEIVABLE,
		INVOICENAME,
		INVOICETIME,
		UTILITIESSTATE_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{PAYERNAME},	
		#{PAYTIME},	
		#{RECEIVABLE},	
		#{OVERDUE},	
		#{RECEIVABL_PAYTIME},	
		#{RECEIVABLE_REALITY},	
		#{LASTMONTH_SUM_E},	
		#{THISMONTH_SUM_E},	
		#{NUMBER_SUM_E},	
		#{TOTAL_SUM_E},	
		#{REALITY_TOTAL_SUM_E},	
		#{LASTMONTH_SUM_W},	
		#{THISMONTH_SUM_W},	
		#{NUMBER_SUM_W},	
		#{TOTAL_SUM_W},	
		#{REALITY_TOTAL_SUM_W},	
		#{OVERDUENUM},	
		#{CONTRACT_ID},	
		#{PROCEEDSTIME_ID},	
		#{INVOICE_ID},
		#{STARTTIME},
		#{ENDTIME},
		#{NOT_RECEIVABLE},
		#{INVOICENAME},
		#{INVOICETIME},
		#{UTILITIESSTATE_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			UTILITIESSTATE_ID = #{UTILITIESSTATE_ID}
	</delete>

	<delete id="deleteByContractId" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		CONTRACT_ID = #{CONTRACT_ID}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			PAYERNAME = #{PAYERNAME},
			PAYTIME = #{PAYTIME},
			RECEIVABLE = #{RECEIVABLE},
			OVERDUE = #{OVERDUE},
			RECEIVABL_PAYTIME = #{RECEIVABL_PAYTIME},
			RECEIVABLE_REALITY = #{RECEIVABLE_REALITY},
			LASTMONTH_SUM_E = #{LASTMONTH_SUM_E},
			THISMONTH_SUM_E = #{THISMONTH_SUM_E},
			NUMBER_SUM_E = #{NUMBER_SUM_E},
			TOTAL_SUM_E = #{TOTAL_SUM_E},
			REALITY_TOTAL_SUM_E = #{REALITY_TOTAL_SUM_E},
			LASTMONTH_SUM_W = #{LASTMONTH_SUM_W},
			THISMONTH_SUM_W = #{THISMONTH_SUM_W},
			NUMBER_SUM_W = #{NUMBER_SUM_W},
			TOTAL_SUM_W = #{TOTAL_SUM_W},
	  		STARTTIME = #{STARTTIME},
			ENDTIME = #{ENDTIME},
			REALITY_TOTAL_SUM_W = #{REALITY_TOTAL_SUM_W},
			OVERDUENUM = #{OVERDUENUM},
		INVOICETIME = #{INVOICETIME},
		INVOICENAME = #{INVOICENAME},
		NOT_RECEIVABLE = #{NOT_RECEIVABLE},
		UTILITIESSTATE_ID = UTILITIESSTATE_ID
		where 
		UTILITIESSTATE_ID = #{UTILITIESSTATE_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			UTILITIESSTATE_ID = #{UTILITIESSTATE_ID}
	</select>

	<select id="findByIdWithPname" parameterType="pd" resultType="pd">
		SELECT i.PAYERNAME, u.* from TB_UTILITIESSTATE u LEFT JOIN TB_INVOICE i ON u.INVOICE_ID = i.INVOICE_ID
		where
		u.UTILITIESSTATE_ID = #{UTILITIESSTATE_ID}
	</select>

	<select id="findByInvoiceId" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		INVOICE_ID = #{INVOICE_ID}
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select top 10000000
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		AND CONTRACT_ID = #{pd.CONTRACT_ID}
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
		ORDER BY NUM
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			UTILITIESSTATE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>